.productItem {
  display: flex;
  border: solid 1px black;
  padding: 20px;
  margin: 20px;
}
.productItem__title {
  flex: 1;
}
.productItem__price {
  flex: 1;
}
.productItem__quantity {
  flex: 1;
}
